.first_container div{
    display: flex;
    padding: 0 120px;

}
.first_container li{
    font-size: 16px;
    font-weight: 600;
}
.first_container_title{
    font-size: 130px;
    font-weight: 800;
    text-align: center;
    border-top: 1px solid black;
}