.card{
    width: 250px;
    height: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: #FFF;

    .card-body img{
        width: 150px;
    }
    .card-title{
        text-align: center;
        padding: 0 10px;
    }
    
}
