.App {
  text-align: center;
}

.bestseller {
  text-transform: uppercase;
  color: red;
}
.dewfrkl7we5urjtbergegwev{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}